<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charSet='utf-8' />
        <meta httpEquiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    </head>

    <body>
        <div id='avisits-container' />
    </body>
</html>
