html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

#avisits-container {
    height: 100%;
    background-color: #F8F8FA;
}

.tether-element {
    z-index: 2000;
}
